---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col items-center justify-center mt-20">
		<section class="w-2/3 flex items-start flex-col justify-center my-44">
			<h1 class="text-5xl font-bold inline-flex gap-4">Hey, I'm Karim <a
				href="https://www.linkedin.com/in/karim-barragan/"
				target="_blank"
				rel="noopener noreferrer"
				class="text-5xl font-bold inline-flex gap-4"
				> <Badge>#OpenToWork</Badge></h1> </a>
			<h2 class="text-3xl inline-flex gap-4"></h2>
			<p class="text-lg">I'm a Software Developer</p>
			<p class="text-lg">Curious how a chef became a coder? My secret recipe involves pixels and a sprinkle of Amex magic. Come taste my creations!</p>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: 0 auto;
	}
</style>
