---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col items-start justify-center">
		<h1 class="text-3xl">Hey There.</h1>
		<h2 class="text-2xl">I'm Karim.</h2>
		<p class="text-lg">I'm a Software Developer</p>
		<p class="text-lg">Curious how a chef became a coder? My secret recipe involves pixels and a sprinkle of Amex magic. Come taste my creations!</p>
	</main>
</Layout>

<style>
</style>
