---
import LinkButton from "./LinkButton.astro"
---

<article>
  <div>
    <h2 class="text-2xl font-bold mb-4">I'm always interested in hearing about new projects, so if you'd like to chat please get in touch.</h2>
  </div>
  <form id="form" class="" action="https://formspree.io/f/mayzgdra" method="POST">
    <div class="mb-6">
      <label 
        for="full-name" 
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
        Full Name
      </label>
      <input
        required
        name="full-name"
        type="text" 
        id="full-name" 
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-6">
      <label 
        for="email" 
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
        Email Address
      </label>
      <input
        required
        name="email"
        type="text" 
        id="email" 
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <label 
      for="message" 
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label>
    <textarea
      required
      name="message"
      id="message" 
      rows="4" 
      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
      placeholder="Write your thoughts here...">
    </textarea>
    <div class="mt-6">
      <button
        type="submit" 
        class="bg-white/5
        border dark:border-white/10 border-gray-300
        rounded-full
        inline-flex justify-center items-center gap-x-2
        py-1 px-2 md:py-2 md:px-4
        text-xs md:text-base
        transition
        hover:scale-110 hover:bg-white/10"
        >
        Send Message
      </button>
  </form>
</article>